.shop-main {
  border: 1px solid black;
  margin-top: 20px;
}

.shop-title-tr {
  background-color: aqua;
}

tbody td {
  background-color: #FFE4C4;
}

.shop-table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}

.shop-table thead {
  width: 100%;
}

.shop-table thead tr td {
  flex-grow: 1;
  border: 1px solid black;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.shop-table tbody {
  width: 100%;
}

.shop-table tbody tr td {
  flex-grow: 1;
  border: 1px solid gray;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.shop-title-tr {
  font-weight: bolder;
  font-size: 20px;
}

.shop-input {
  text-align: center;
  margin-top: 20px;
  color: white;
}

.shop-input label {
  font-size: 20px;
  margin-right: 10px;
}

.shop-input input {
  color: red;
}
